DEVELOPMENT=true
LOG_LEVEL=info
LOG_JSON=false
LOG_COLORIZE_LINE=true
LOG_ADD_CALLER=true
LOG_UNESCAPED_MULTILINE=true
LOG_DISABLE_STACKTRACE=false
TENANT_CONFIGMAP_NAME=talos-tenant-config
TENANT_CONFIGMAP_NAMESPACE=default
TENANT_CONFIGMAP_DATA_KEY=config.yaml
TALOS_VM_INSTALL_IMAGE_DEFAULT=factory.talos.dev/metal-installer/ce4c980550dd2ab1b17bbf2b08801c7eb59418eafe8f279833297925d67c7515:v1.12.1
TALOS_VM_INSTALL_IMAGE_KUBEVIRT=factory.talos.dev/metal-installer/ce4c980550dd2ab1b17bbf2b08801c7eb59418eafe8f279833297925d67c7515:v1.12.1
NAME_KUBERNETES_PROVIDER=talos-provider
TALOS_PREDICTABLE_NETWORK_NAMES=true
ENDPOINT_MODE=networkconfiguration
BOOT_IMAGE_SOURCE=pxe
BOOT_IMAGE=https://factory.talos.dev/image/ce4c980550dd2ab1b17bbf2b08801c7eb59418eafe8f279833297925d67c7515/v1.12.1/metal-amd64.iso
