apiVersion: v1
kind: ConfigMap
metadata:
  name: talos-tenant-config
data:
  config.yaml: |
    machine:
      sysctls:
        user.max_user_namespaces: "11255"
      network:
        nameservers:
          - 10.246.196.76
          - 10.245.248.76
        interfaces:
          - deviceSelector:
              physical: true
            mtu: 1500
      time:
        disabled: false
        servers:
          - ntp.nhn.no
        bootTimeout: 2m0s
      kubelet:
        extraArgs:
          rotate-server-certificates: true
      features:
        hostDNS:
          enabled: true
          forwardKubeDNSToHost: true
        kubePrism:
          enabled: true
          port: 7445
    cluster:
      apiServer:
        extraArgs:
          oidc-client-id: clusterauth
          oidc-groups-claim: groups
          oidc-groups-prefix: "sso:"
          oidc-issuer-url: https://auth.ror.nhn.no
          oidc-signing-algs: RS512
          oidc-username-claim: email
          oidc-username-prefix: "sso:"
          oidc-required-claim: clusterID=#CLUSTERID#
        admissionControl:
          - name: PodSecurity
            configuration:
              exemptions:
                namespaces:
                  - argocd
                  - falco
      network:
        cni:
          name: custom
          urls:
            - https://helsegitlab.nhn.no/ossplattformen/bootstrap/-/raw/main/cni/cilium/cilium-vxlan-1-18-6.yaml
        podSubnets:
          - 100.124.0.0/16
          - 2001:db8:124::/56
        serviceSubnets:
          - 100.120.0.0/16
          - 2001:db8:120::/112
      proxy:
        disabled: true
      discovery:
        enabled: false
      extraManifests:
        - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
        - https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
        - https://helsegitlab.nhn.no/ossplattformen/bootstrap/-/raw/main/guestCluster/nhn-container-admin.yaml
        - https://helsegitlab.nhn.no/ossplattformen/clusterbootstrap/-/raw/7c22d56206aa81513b5a0c53d2457db14bab8b53/manifests/argocd.yaml?inline=false
